# .dockerignore

# Git
.git
.gitignore
.gitattributes

# Docker
docker-compose.yaml
Dockerfile
.docker
.dockerignore

# Cached Files #
*.pyc
**/__pycache__

# Documentation
README.md

# Backup
config.py.bak